.projects_container {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}
.projects_tile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0 4rem;
}
.projects_filter_btns {
  display: flex;
  gap: 1rem;
}
.projects_filter_btns button {
  border: none;
  background-color: rgb(0, 0, 0);
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s ease;
  color: white;
}
.projects_filter_btns button:hover {
  translate: 0 -0.5rem;
  box-shadow: 4px 5px 1px 1px #96b1ff;
}

.projects_title_and_info {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.projects_title_and_info:hover {
  background-color: #96b0ff36;
}
.projects_left {
  width: 35%;
}
.link_btns button {
  border: none;
  padding: 0.6rem 1.5rem;
  padding-left: 3rem;
  font-size: 0.9rem;
  background-position: 0.6rem;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  text-align: right;
  animation: infinite 2s buttonHeart;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #a4c1fc;
  background-color: white;
  box-shadow: 3px 2px 5px 1px #4463a0;
}
.link_btns button:hover {
  background-color: #a4c1fc;
}
.link_btns {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.website_btn {
  background-image: url("/public/assets/domain.png");
}
.github_btn {
  background-image: url("/public/assets/github.png");
}
.projects_demo {
  width: 60%;
  max-height: 40rem;
  position: relative;
  overflow: hidden;
  border: 2px solid #4463a080;
}
.projects_demo img {
  object-fit: cover;
  width: 100%;
}
.projects_left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
a {
  all: unset;
}
.tech_div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.tech_item {
  background-color: #212f54;
  color: #a4c1fc;
  border-radius: 1rem;
  padding: 0.4rem 1rem;
  font-family: monospace;
}

@keyframes buttonHeart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
    box-shadow: 5px 5px 5px 1px #4463a0;
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 600px) {
  .projects_container {
  }
  .projects_tile {
    flex-direction: column;
    padding: 0 1rem;
  }
  .projects_filter_btns button {
    border: none;
    background-color: black;
    color: white;
    padding: 0.2rem 1.1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
    transition: 0.2s ease;
  }
  .projects_filter_btns {
    gap: 0.5rem;
    padding-top: 1rem;
  }
  .projects_title_and_info {
    flex-direction: column;
    padding: 0.5rem 1rem;
  }
  .projects_left {
    width: 100%;
    gap: 1.5rem;
  }
  .projects_left p {
    font-size: 1rem;
  }
  .projects_demo {
    width: 100%;
    max-height: 40rem;
    position: relative;
    overflow: hidden;
    margin: 1rem 0;
    border: 2px solid #4463a0;
  }
  .link_btns button {
    border: none;
    padding: 0.5rem 1rem;
    padding-left: 3rem;
    background-color: rgba(0, 132, 255, 0.103);
    font-size: 0.8rem;
    background-position: 1rem;
    background-repeat: no-repeat;
    text-align: right;
    animation: infinite 2s buttonHeart;
    cursor: pointer;
  }
  .tech_item {
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
  }
}
