.faq_container {
  display: flex;
  padding: 2rem 4rem;
}
.faq_title {
  width: 15%;
}
.faq_accordions {
  width: 50%;
}

.ac {
  margin: 1rem 0 !important;
}

@media screen and (max-width: 600px) {
  .faq_container {
    padding: 1rem;
    flex-direction: column;
  }
  .faq_accordions {
    width: 100%;
  }
  .text_size {
    font-size: 1rem;
  }
}
