.skills_container {
  display: flex;
  padding: 0 4rem;
}
.skills_title {
  width: 15%;
}
.skills_description {
  display: flex;
  justify-content: start;
  gap: 10rem;
}
.skill_part {
  color: #265768;
}
hr {
  margin: 0.5rem 0;
}
p {
  font-size: 1.4rem;
  transition: 0.2s ease;
}
.skills_animation p:hover {
  color: #4cc1fbad;
  cursor: pointer;
  transform: translate(1rem);
}
.skills_animation p {
  border-radius: 1rem;
  padding: 0.4rem 1rem;
  font-family: monospace;
  font-size: 1.1rem;
  width: fit-content;
  margin-top: 0.5rem;
}
.skills_description img {
  height: 12rem;
}
#green {
  background-color: #295421;
  color: #a7fca4;
}
#red {
  background-color: #542121;
  color: #fca4a4;
}
#yellow {
  background-color: #212f54;
  color: #a4c1fc;
}

@media screen and (max-width: 600px) {
  .skills_container {
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
  }
  .skills_description {
    flex-direction: column;
    gap: 2rem;
  }
  .skills_animation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
