nav {
  display: flex;
  justify-content: space-between;
  background-color: #c8cbd0b9;
  padding: 1.3rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.full_menu {
  display: flex;
  gap: 3rem;
  list-style-type: none;
}
li {
  font-weight: 900;
  cursor: pointer;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.673);
}
li:hover {
  transition: 0.2s ease;
  color: #3991bf;
}
h3 {
  font-weight: 900;
  color: rgb(70, 70, 70);
  cursor: pointer;
}
h3:hover {
  transition: 0.2s ease;
  color: rgba(0, 0, 255, 0.484);
}
a {
  all: unset;
}
.hamburger_wrapper {
  display: none;
}

@media screen and (max-width: 600px) {
  .full_menu {
    display: none;
  }
  .hamburger_wrapper {
    display: block;
  }
  .nav_wrapper {
    position: relative;
    z-index: 10;
  }
  .mobile_menu {
    padding: 1.2rem;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #3991bf;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100vw;
    list-style-type: none;
    animation: slideDown 0.2s ease-in-out;
    z-index: -10;
  }
  .mobile_menu.sticky_menu {
    position: fixed;
    top: 0;
  }
  .mobile_menu:hover li {
    color: black;
  }
  nav {
    padding: 0.5rem;
    align-items: center;
    z-index: 10;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
