.intro_container {
  height: 70vh;
  background-color: rgba(92, 92, 255, 0.355);
  position: relative;
  background-image: url("https://images4.alphacoders.com/110/1108171.png");
  background-size: cover;
  background-position: 1rem left;
  transition: 0.2s ease;
  background-image: radial-gradient(
    circle at center,
    #1b2e63,
    #06102d,
    rgb(0, 0, 0) 100%
  );
}
.intro_button {
  all: unset;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 1.2rem 2rem;
  padding-left: 2.7rem;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: #8fdaff7c;
  font-size: 0.8rem;
  font-weight: 600;
  transition: 0.2s ease;
  background-image: url("/public/assets/script.png");
  background-position: left;
  background-repeat: no-repeat;
  cursor: pointer;
  color: #8fdaff;
}
.intro_button:hover {
  font-size: 1rem;
  padding: 1.3rem 3rem;
  background-color: #8fdaff;
  background-position: 0.5rem;
}
.intro_button::after {
  padding: 1rem 1.5rem;
  background-color: #4cc1fbd8;
}
.intro_button p {
  animation: infinite 2s heartBeat;
  color: black !important;
}
.intro_name {
  position: absolute;
  bottom: 5%;
  right: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.755);
  color: white;
  font-size: 4rem;
  font-weight: 900;
  padding: 0.5rem 0;
  cursor: pointer;
  transition: 0.2s ease;
  z-index: 2;
}
.intro_name:hover {
  color: #4cc1fbad;
}
.circle_image {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10rem;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 60px 60px #212f54;
  transition: 1s ease;
  border: 6px solid rgba(0, 0, 255, 0);
  animation: infinite 10s handheldSway ease-in-out;
}
.circle_image:hover {
  box-shadow: 0px 0px 40px 40px #00a2ff3c;
  border: 8px solid rgba(18, 18, 128, 0.341);
}
@media screen and (max-width: 600px) {
  .intro_container {
    height: 80vh;
    position: relative;
    background-position: center;
  }
  .intro_name {
    background-color: rgba(0, 0, 0, 0.841);
    bottom: 0%;
    font-size: 1.2rem;
    padding: 1rem 0;
  }
  .intro_button {
    top: 75%;
    background-color: #8fbcff38;
    p {
      font-size: 1rem;
    }
  }
  .circle_image {
    top: 40%;
  }
}

@keyframes handheldSway {
  0% {
    transform: translate(-55%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(calc(-50% - 2px), calc(-50% + 10px)) rotate(-1deg);
  }
  50% {
    transform: translate(calc(-50% + 2px), calc(-50% - 2px)) rotate(1deg);
  }
  75% {
    transform: translate(calc(-50% - 1px), calc(-50% + 20px)) rotate(0deg);
  }
  100% {
    transform: translate(-55%, -50%) rotate(0deg);
  }
}
