.intro_container {
  height: 70vh;
  background-color: rgba(92, 92, 255, 0.355);
  position: relative;
  background-image: url("https://images4.alphacoders.com/110/1108171.png");
  background-size: cover;
  background-position: 1rem left;
  transition: 0.2s ease;
  background-image: radial-gradient(
    circle at center,
    #1b2e63,
    #06102d,
    rgb(0, 0, 0) 100%
  );
}
.intro_button {
  all: unset;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 1.2rem 2rem;
  padding-left: 2.7rem;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: #8fdaff7c;
  font-size: 0.8rem;
  font-weight: 600;
  transition: 0.2s ease;
  background-image: url("/public/assets/script.png");
  background-color: #5b73b8;
  background-position: left;
  background-repeat: no-repeat;
  cursor: pointer;
  color: #96b1ff;
}
.intro_button:hover {
  font-size: 1rem;
  padding: 1.3rem 3rem;
  background-color: #96b1ff;
  background-position: 0.5rem;
}
.intro_button::after {
  padding: 1rem 1.5rem;
  background-color: #4cc1fbd8;
}
.intro_button p {
  animation: infinite 2s heartBeat;
  color: black !important;
}
.intro_name {
  position: absolute;
  bottom: 5%;
  right: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.755);
  color: white;
  font-size: 4rem;
  font-weight: 900;
  padding: 0rem 0;
  cursor: pointer;
  transition: 0.2s ease;
  z-index: 2;
  font-style: italic;
}
.intro_name:hover {
  color: #96b1ff;
}
.circle_image {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10rem;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 60px 60px #212f54;
  transition: 2s ease;
  border: 6px solid rgba(0, 0, 255, 0);
  animation: infinite 10s handheldSway ease-in-out;
}
.circle_image:hover {
  box-shadow: 0px 0px 100px 10px #96b1ff;
  border: 6px solid #96b1ff;
  scale: 1.03;
  animation: infinite 6s turnArround ease-in-out;
}
@media screen and (max-width: 600px) {
  .intro_container {
    height: 85vh;
    position: relative;
    background-position: center;
  }
  .intro_name {
    background-color: rgba(0, 0, 0, 0.841);
    bottom: 0%;
    font-size: 1.2rem;
    padding: 1rem 0;
  }
  .intro_button {
    top: 75%;
    background-color: #78a2e0de;
    p {
      font-size: 1rem;
    }
  }
  .circle_image {
    top: 40%;
  }
}

@keyframes handheldSway {
  0% {
    transform: translate(-55%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(calc(-50% - 2px), calc(-50% + 10px)) rotate(-1deg);
  }
  50% {
    transform: translate(calc(-50% + 2px), calc(-50% - 2px)) rotate(1deg);
  }
  75% {
    transform: translate(calc(-50% - 1px), calc(-50% + 20px)) rotate(0deg);
  }
  100% {
    transform: translate(-55%, -50%) rotate(0deg);
  }
}

@keyframes turnArround {
  0% {
    transform: translate(-55%, -50%) rotate(0deg);
    box-shadow: 0px 0px 100px 10px #96b1ff;
  }
  25% {
    transform: translate(calc(-50% - 2px), calc(-50% + 10px)) rotate(10deg);
    box-shadow: 0px 0px 100px 10px #000000;
  }
  50% {
    transform: translate(calc(-50% + 2px), calc(-50% - 2px)) rotate(0deg);
    box-shadow: 0px 0px 100px 10px #96b1ff;
  }
  75% {
    transform: translate(calc(-50% - 1px), calc(-50% + 20px)) rotate(-10deg);
    box-shadow: 0px 0px 100px 10px #000000;
  }
  100% {
    transform: translate(-55%, -50%) rotate(0deg);
    box-shadow: 0px 0px 100px 10px #96b1ff;
  }
}
